/* 
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono|Aref+Ruqaa|Montserrat|Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 36, ../sass/screen.scss */
body {
  background: #353a40;
}

/* line 25, ../sass/screen.scss */
/* line 41, ../sass/screen.scss */
.header {
  height: 250px;
  border: solid 3px;
  background-color: black;
  color: black;
  width: 1400px;
  margin: 0 auto;
  font-family: "Space Mono", "sans-serif";
}

/* line 49, ../sass/screen.scss */
#fakemail {
  color: snow;
}

/* line 52, ../sass/screen.scss */
.error {
  color: white;
  font-weight: 700;
}

/* line 57, ../sass/screen.scss */
.table {
  color: snow;
  font-size: 14px;
  font-family: "Aref Ruqaa", "sans-serif";
  background-color: purple;
  opacity: 0.7;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(181, 0, 193, 0.66);
  -moz-box-shadow: 0px 0px 30px 5px gray;
  box-shadow: 0px 0px 30px 5px rgba(181, 0, 193, 0.66);
  width: 1000px;
  margin: 0 auto;
}

/* line 69, ../sass/screen.scss */
.tableUser:hover {
  border: 2px;
  background-color: black;
}

/* line 74, ../sass/screen.scss */
#tableHead {
  font-weight: 900;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  text-shadow: 4px 4px 7px white;
}

/* line 33, ../sass/screen.scss */
/* line 85, ../sass/screen.scss */
.logo {
  position: static;
  float: left;
  margin: 0 0;
  height: 100%;
  weight: 100%;
}

/* line 40, ../sass/screen.scss */
/* line 94, ../sass/screen.scss */
.header > h1 {
  display: inline-block;
  position: static;
  margin-left: 250px;
  padding: 30px;
  font-size: 50px;
  color: white;
}

/* line 49, ../sass/screen.scss */
/* line 105, ../sass/screen.scss */
.navbar {
  width: 1400px;
  margin: 0 auto;
  color: white;
  font-family: "Aref Ruqaa", "sans-serif";
}

/* line 55, ../sass/screen.scss */
/* line 112, ../sass/screen.scss */
.container-fluid {
  text-align: center;
  margin-left: 406px;
  font-size: 18px;
}

/* line 118, ../sass/screen.scss */
.nav {
  position: absolute;
}

/* line 61, ../sass/screen.scss */
/* line 122, ../sass/screen.scss */
.dropdown-menu {
  position: absolute;
  text-align: center;
}

/* line 64, ../sass/screen.scss */
/* line 128, ../sass/screen.scss */
.container {
  background-image: url("../images/siatka.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  height: 1580px;
  width: 1400px;
  margin: 0 auto;
}

/*container design*/
/* line 140, ../sass/screen.scss */
.control-label {
  float: left;
}

/* line 141, ../sass/screen.scss */
.container-i .inner {
  width: 480px;
  margin: 100px auto;
  border: 1px solid none;
  background: rgba(55, 55, 55, 0.4);
  padding: 10px;
  -webkit-transform: skew(30deg, 10deg);
  -moz-transform: skew(30deg, 10deg);
  -o-transform: skew(30deg, 10deg);
  transition-duration: 0.7s;
}

/* line 142, ../sass/screen.scss */
.container-i .inner:hover {
  -webkit-transform: skew(0deg, 0deg);
  -moz-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  transition-duration: 0.7s;
  background: transparent;
}

/* line 143, ../sass/screen.scss */
.inner h1 {
  color: #c8c8c8;
  font-family: calibri, arial;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

/* line 144, ../sass/screen.scss */
.inner h3 {
  color: #c8c8c8;
  font-size: 18px;
  font-family: calibri;
  text-align: center;
  margin-top: -5px;
}

/* line 145, ../sass/screen.scss */
.inner form label span {
  color: white;
}

/* line 146, ../sass/screen.scss */
.inner form lagend {
  color: white;
}

/* line 147, ../sass/screen.scss */
.inner .input {
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
  color: #9f00a7;
  background: transparent;
  padding: 10px;
}

/* line 148, ../sass/screen.scss */
.inner .input:focus {
  box-shadow: none;
  border: 1px solid none;
}

/* line 149, ../sass/screen.scss */
.container hr {
  border-color: #646464;
}

/* line 150, ../sass/screen.scss */
.inner .button {
  border-radius: 10px 10px 10px 10px;
  color: #9f00a7;
  background: rgba(50, 50, 50, 0.4);
  padding: 2px 30px;
  border: 2px solid #9f00a7;
  font-family: calibri;
  margin: 10px auto;
  font-weight: bold;
}

/* line 151, ../sass/screen.scss */
.inner .button:hover {
  background: #8f00a7;
  color: white;
}

/* line 153, ../sass/screen.scss */
#login-name {
  font-family: "Space Mono", "sans-serif";
}

/* line 157, ../sass/screen.scss */
.container > p {
  margin-top: 15px;
  padding-top: 15px;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

/* line 80, ../sass/screen.scss */
/* line 167, ../sass/screen.scss */
#aboutme {
  text-decoration-style: dashed;
  margin-top: 15px;
  padding-top: 15px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  line-height: 35px;
  text-align: center;
}

/* line 91, ../sass/screen.scss */
/* line 180, ../sass/screen.scss */
.container > img {
  margin: 0 auto;
  display: block;
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
  -webkit-box-shadow: 13px 13px 30px 5px gray;
  -moz-box-shadow: 13px 13px 30px 5px gray;
  box-shadow: 13px 13px 30px 5px gray;
  height: 1300px;
  width: 1000px;
  margin-bottom: 30px;
}

/* line 103, ../sass/screen.scss */
/* line 195, ../sass/screen.scss */
.container > .cvdes {
  margin-top: 150px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Aref Ruqaa", "sans-serif";
  color: white;
  font-size: 40px;
}

/* line 111, ../sass/screen.scss */
/* line 205, ../sass/screen.scss */
.panel-default {
  opacity: 0.8;
  font-family: "Aref Ruqaa", "sans-serif";
}

/* line 115, ../sass/screen.scss */
/* line 211, ../sass/screen.scss */
.form-group.last {
  margin-bottom: 0px;
}

/* line 116, ../sass/screen.scss */
/* line 216, ../sass/screen.scss */
.centered-form {
  margin-top: 60px;
}

/* line 120, ../sass/screen.scss */
/* line 221, ../sass/screen.scss */
.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  font-family: "Aref Ruqaa", "sans-serif";
}

/* line 227, ../sass/screen.scss */
label.label-floatlabel {
  font-weight: bold;
  color: #46b8da;
  font-size: 11px;
}

/* line 233, ../sass/screen.scss */
.selected img {
  opacity: 0.5;
}

/* line 237, ../sass/screen.scss */
.list-inline {
  text-align: center;
}

/* line 240, ../sass/screen.scss */
.carousel-inner {
  margin-left: 55px;
  margin-right: auto;
}

/* line 245, ../sass/screen.scss */
.carousel-inner:hover {
  opacity: 0.8;
}

/* line 251, ../sass/screen.scss */
.chat_window {
  position: absolute;
  margin-top: 450px;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

/* line 267, ../sass/screen.scss */
.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

/* line 274, ../sass/screen.scss */
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

/* line 280, ../sass/screen.scss */
.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}

/* line 288, ../sass/screen.scss */
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

/* line 295, ../sass/screen.scss */
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}

/* line 299, ../sass/screen.scss */
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}

/* line 303, ../sass/screen.scss */
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}

/* line 307, ../sass/screen.scss */
.messages .message.left .text {
  color: #c48843;
}

/* line 310, ../sass/screen.scss */
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

/* line 314, ../sass/screen.scss */
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}

/* line 319, ../sass/screen.scss */
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}

/* line 323, ../sass/screen.scss */
.messages .message.right .text {
  color: #45829b;
}

/* line 326, ../sass/screen.scss */
.messages .message.appeared {
  opacity: 1;
}

/* line 329, ../sass/screen.scss */
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

/* line 335, ../sass/screen.scss */
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

/* line 343, ../sass/screen.scss */
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 352, ../sass/screen.scss */
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

/* line 356, ../sass/screen.scss */
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

/* line 360, ../sass/screen.scss */
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

/* line 365, ../sass/screen.scss */
.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}

/* line 373, ../sass/screen.scss */
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}

/* line 382, ../sass/screen.scss */
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

/* line 391, ../sass/screen.scss */
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

/* line 404, ../sass/screen.scss */
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}

/* line 408, ../sass/screen.scss */
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

/* line 415, ../sass/screen.scss */
.message_template {
  display: none;
}
.namec {
    color: blue;
    
}
.messagec {
	    color:fuchsia;
}